.headline{
    color: rgb(99, 98, 98);
}

.newHeadline{
    color: aqua;
}

.content{
    width: 400px;
    margin: auto;
}


#ButtonDiv{
    display: flex;
    font-family: "Google Sans","arial","sans-serif";
    position: relative;
    width: 260px;
    height: 44px;
    background-color:  #1a73e8 ;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: 500;
    align-items: center; 
}

a, a:hover, a:visited, a:active {
    margin: auto;
    color: inherit;
    text-decoration: none;
}

#ButtonDiv:hover{
background-color:#5195ee;
transition: background-color 0.3s ease;
cursor: pointer;
}
